
@model MVCTest.Controllers.ContactController

<div id="section3" class="container-fluid">
    <div class="row opake" align="center">
        <div class="col-md-12 padding-50">
            <h2>Your message has been sent to JaxxWaxx!!</h2>
        </div>
    </div>
</div>
