@model MVCTest.Models.InstaIntegration

<div class="col-md-6 padding-0 about" align="center">
    
</div>

<div class="container">

    <div class="col-md-6 padding-0 about" align="center">
        <h2>@ViewBag.AccessToken</h2>
        <h2>@ViewBag.UserID</h2>
    </div>

</div>


